body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin-left: 1rem;
    width: 400px;
}
h1 {
    font-size: 140%;
    color: teal;
    margin-bottom: 1rem;
}
h2 {
    font-size: 120%;
    color: teal;
    margin-bottom: 1rem;
}
.bold-text {
    font-weight: bold;
    font-size: 140%;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    width: 150px; /* Đặt chiều rộng của label */
}

input[type="text"] {
    flex: 1; /* Chia đều không gian cho label và input */
    padding: 5px;
    width: 100%;
}

.returnProject a{
    padding: 5px;
    width: 100%;
}
/* Định dạng nút */
.returnproject button {
    position: relative;
    top: 10px;
    background-color: #52ccf5; /* Màu xanh da trời */
    color: #fff; /* Màu chữ trắng */
    padding: 10px 20px; /* Kích thước nút */
    border: none; /* Loại bỏ đường viền */
    cursor: pointer; /* Biến con trỏ thành bàn tay khi di chuột qua nút */
    display: flex; /* Sử dụng flexbox để căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
}

/* Định dạng mũ tên (mũ tên hướng qua trái) */
.returnproject .arrow {
    margin-right: 5px; /* Khoảng cách giữa mũ tên và chữ "Return Project" */
}

/* Định dạng khi di chuột qua nút */
.returnproject button:hover {
    background-color: #0073e6; /* Màu xanh da trời nhạt hơn khi di chuột qua */
}